/* ==UserStyle==
@name         Twitter Moonlight
@namespace    github.com/brettm12345/twitter-moonlight
@homepageURL  https://github.com/brettm12345/twitter-moonlight
@supportURL   https://github.com/brettm12345/twitter-moonlight/issues
@updateURL    https://raw.githubusercontent.com/brettm12345/twitter-moonlight/master/twitter.user.styl
@version      1.0.5
@license      unlicense
@author       brettm12345

@var color blue       "Blue"             #82aaff
@var color blue-trans "Transparent Blue" #82aaff1a

@var color purple "Purple" #c597f9

@var color red       "Red"             #ff5370
@var color red-trans "Transparent Red" #ff53701a

@var color green       "Green"             #4fd6be
@var color green-trans "Transparent Green" #4fd6be1a

@var color backdrop "Backdrop" rgba(0, 0, 0, 0.6)

@var color scrollbar-thumb " Scrollbar Thumb" #292c41

@var color gray-1  "Gray 1"  #131421
@var color gray-2  "Gray 2"  #191b28
@var color gray-3  "Gray 3"  #1e2030
@var color gray-4  "Gray 4"  #222436
@var color gray-5  "Gray 5"  #2f334d
@var color gray-6  "Gray 6"  #4d5482
@var color gray-7  "Gray 7"  #828bb8
@var color gray-8  "Gray 8"  #a9b8e8
@var color gray-9  "Gray 9"  #b4c2f0
@var color gray-10 "Gray 10" #c8d3f5

@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("twitter.com")
  :root
    --blue     blue
    --blue-trans blue-trans

    --red     red
    --red-trans red-trans

    --green     green
    --green-trans green-trans

    --purple purple

    --backdrop backdrop

    --scrollbar-thumb scrollbar-thumb

    --gray-1 gray-1
    --gray-2 gray-2
    --gray-3 gray-3
    --gray-4 gray-4
    --gray-5 gray-5
    --gray-6 gray-6
    --gray-7 gray-7
    --gray-8 gray-8
    --gray-9 gray-9
    --gray-10 gray-10

  shadow()
    box-shadow 0 4px 6px -1px rgba(0, 0, 0, 0.58), 0 2px 4px -1px rgba(0, 0, 0, 0.29)

  $scrollbar-thumb = var(--scrollbar-thumb)

  $blue = var(--blue)
  $blue-trans = var(--blue-trans)

  $red = var(--red)
  $red-trans = var(--red-trans)

  $green = var(--green)
  $green-trans = var(--green-trans)

  $purple = var(--purple)

  $backdrop = var(--backdrop)

  $gray-1 = var(--gray-1)
  $gray-2 = var(--gray-2)
  $gray-3 = var(--gray-3)
  $gray-4 = var(--gray-4)
  $gray-5 = var(--gray-5)
  $gray-6 = var(--gray-6)
  $gray-7 = var(--gray-7)
  $gray-8 = var(--gray-8)
  $gray-9 = var(--gray-9)
  $gray-10 = var(--gray-10)

  ::-webkit-scrollbar
    background-color $gray-3 !important

  ::-webkit-scrollbar-thumb
    background-color $scrollbar-thumb !important

  body, .r-1srlen8 // Loading
    background-color $gray-4 !important

  .r-111h2gw // Default forground color
    color $gray-7

  div[aria-label*="Timeline"]
    div[role="menu"]
      shadow()
      div[role="menuitem"]:hover
        background-color $gray-1

    & > div > div > div:nth-child(2)
      display none
    .r-18bvks7 // Embeded media
      background-color $gray-2
    div.r-1cuuowz // Embeded media hover
      background-color $gray-1


  .r-1ila09b,
  .r-18bvks7
    border-color $gray-1

  .r-11u3ssh
    background-color $backdrop

  // Checkbox
  .r-1awozwy.r-yfoy6g.r-1778zho.r-z2wwpe.r-1phboty.r-d045u9.r-76blku.r-1777fci.r-64lmo0
    border-color $gray-5


  // Word count indicator
  div[role="progressbar"] circle[stroke="#38444D"]
    stroke $gray-5


  .r-1kfrmmb // Icon section
    border-top-color $gray-1

  .r-1nvv5a4 // Tweet hover
    background-color $gray-2

  .r-vz2u4x // Separator after new tweet
    height 0.5px
    background-color $gray-1

  .r-aaos50 // Searchbar
    background-color $gray-2

  .r-hpzmsf // Separator between word counter and + button
    background-color $gray-5

  .r-kuekak // List separator
    background-color $gray-1

  // Icons

  path[fill="#794BC4"]
    fill $purple

  .r-daml9f // Like icon
    color $red
  .r-wcu338
    background $red-trans

  .r-nw8l94 // Retweet icon
    color $green
  .r-1up5ays
    background $green-trans

  .r-13gxpu9 // Comment/Download icon
    color $blue
  .r-zv2cs0
    background $blue-trans

  .r-xnswec
    shadow()

  .r-yfoy6g, .r-1uaug3w
    background-color $gray-3
    border-color $gray-1


  .r-hjejmn // Message
    background-color $gray-2

  .r-wrkyx5 // Message embed
    border-color $gray-1


  .r-1t982j2 // Tweet author
    margin-bottom 10px

  // Searchbar
  .r-1awozwy.r-aqfbo4.r-yfoy6g.r-18u37iz.r-1mwlp6a.r-1a8r3js.r-15ysp7h.r-1xcajam.r-ipm5af.r-1hycxz.r-136ojw6
    background-color $gray-4

  div#typeaheadDropdown-1
    border 1px solid

