/* ==UserStyle==
@name         Twitter Moonlight
@namespace    github.com/brettm12345/twitter-moonlight
@homepageURL  https://github.com/brettm12345/twitter-moonlight
@supportURL   https://github.com/brettm12345/twitter-moonlight/issues
@updateURL    https://raw.githubusercontent.com/brettm12345/twitter-moonlight/master/twitter.user.styl
@version      1.0.4
@license      unlicense
@author       brettm12345

@var color gray-1  "Gray 1"  #131421
@var color gray-2  "Gray 2"  #191a2a
@var color gray-3  "Gray 3"  #1e2030
@var color gray-4  "Gray 4"  #222436
@var color gray-5  "Gray 5"  #2f334d
@var color gray-6  "Gray 6"  #4d5482
@var color gray-7  "Gray 7"  #828bb8
@var color gray-8  "Gray 8"  #a9b8e8
@var color gray-9  "Gray 9"  #b4c2f0
@var color gray-10 "Gray 10" #c8d3f5

@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("twitter.com")
  :root
    --gray-1 gray-1
    --gray-2 gray-2
    --gray-3 gray-3
    --gray-4 gray-4
    --gray-5 gray-5
    --gray-6 gray-6
    --gray-7 gray-7
    --gray-8 gray-8
    --gray-9 gray-9
    --gray-10 gray-10

  $gray-1 = var(--gray-1)
  $gray-2 = var(--gray-2)
  $gray-3 = var(--gray-3)
  $gray-4 = var(--gray-4)
  $gray-5 = var(--gray-5)
  $gray-6 = var(--gray-6)
  $gray-7 = var(--gray-7)
  $gray-8 = var(--gray-8)
  $gray-9 = var(--gray-9)
  $gray-10 = var(--gray-10)

  body
    background-color $gray-4

  .r-1ila09b,
  .r-18bvks7
    border-color $gray-1

  .r-111h2gw
    color $gray-10

  .r-yfoy6g, .r-1uaug3w
    background-color $gray-3
    border-color $gray-1

  // Searchbar
  .css-1dbjc4n.r-1awozwy.r-aqfbo4.r-yfoy6g.r-18u37iz.r-1mwlp6a.r-1a8r3js.r-15ysp7h.r-1xcajam.r-ipm5af.r-1hycxz.r-136ojw6
    background-color $gray-4

